@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkgreen: #194035;
  --ligthgreen: #307360;
  --cream: #F2BC79;
  --brown: #592202;
  --totaldark: #0D0D0D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-darkgreen: var(--darkgreen);
  --color-ligthgreen: var(--ligthgreen);
  --color-cream: var(--cream);
  --color-brown: var(--brown);
  --color-dark: var(--totaldark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.btn_cream{
  background: var(--cream);
  color: var(--darkgreen);
  transition: all;
}

.btn_darkGreen{
  background: var(--darkgreen);
  color: var(--cream);
  transition: all;
}

.btn_darkGreen:hover{
  opacity: 90%;
}

.btn_cream:hover{
  opacity: 90%;
}

.price_brown{
  background: rgba(89, 34, 2, 0.2);
  color: var(--cream);
}


html, body {
  height: 100%;
  background: var(--background);
  color: var(--foreground);
}
